<% provide(:title, "Наши клиенты") %>
<div class="clientsup">
  <div class="clients">
    <div class = "client">
      <%= image_tag("adm.jpg") %>
      <div class = "description">
        <h3>Администрация города Чебоксары</h3>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("ngt.jpg") %>
      <div class = "description">
        <h3>Нижегородская таможня</h3>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("mge.jpg") %>
      <div class = "description">
        <h3>Московский гуманитарно-экономический университет</h3>
      </div>
    </div>
    
    <div class = "client">
      <%= image_tag("magnit.jpg") %>
      <div class = "description">
        <h3>Розничная сеть «Магнит» АО «Тандер»</h3>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("fgup.jpg") %>
      <div class = "description">
        <h3>ФГУП «Почта России»</h3>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("ufsin.jpg") %>
      <div class = "description">
        <h3>УФСИН России по Чувашской Республике — Чувашии СИЗО-1</h3>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("mvd.jpg") %>
      <div class = "description">
        <h3>УМВД России по г. Чебоксары</h3>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("apteka.jpg") %>
      <div class = "description">
        <h3>ГУП Чувашской Республики «Фармация» МЗ ЧР</h3>
      </div>
    </div>
<div class = "client">
  <%= image_tag("agregat.jpg") %>
  <div class = "description">
    <h3>ОАО «Чебоксарский агрегатный завод»</h3>
  </div>
</div>

    <div class = "client">
      <%= image_tag("chgu.jpg") %>
      <div class = "description">
        <h3>Чувашский госуниверситет имени И.Н. Ульянова</h3>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("prez.jpg") %>
      <div class = "description">
        <h3>Министерство юстиции и имущественных отношений Чувашской Республики</h3>
      </div>
    </div>
  </div>
</div>
