<% provide(:title, "Наши клиенты") %>
<% if is_logged_in? %>
  <%= link_to image_tag("add.svg"), clients_new_url, class: "float1" %>
<% end %>
<div class="clientsup">
  <div class="clients">
  <% if @clients.any? %>
  	<% @clients.each do |client| %>
		<div class="client">
			<%= image_tag client.image_url %>
			<div class="description">
			<h3><%= client.name %></h3>
			<% if is_logged_in? %>
			<%= link_to 'больше не клиент', '/destroy_client/' + client.id.to_s, method: :delete, class: 'blog-post_cta'  %>
			<% end %>
			</div>
		</div>
	<% end %>
  <% end %>
    <div class = "client">
      <%= image_tag("adm.jpg") %>
      <div class = "description">
        <h3>Администрация города Чебоксары</h3>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("ngt.jpg") %>
      <div class = "description">
        <h3>Нижегородская таможня</h3>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("mge.jpg") %>
      <div class = "description">
        <h3>Московский гуманитарно-экономический университет</h3>
      </div>
    </div>
    
    <div class = "client">
      <%= image_tag("magnit.jpg") %>
      <div class = "description">
        <h3>Розничная сеть «Магнит» АО «Тандер»</h3>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("fgup.jpg") %>
      <div class = "description">
        <h3>ФГУП «Почта России»</h3>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("ufsin.jpg") %>
      <div class = "description">
        <h3>УФСИН России по Чувашской Республике — Чувашии СИЗО-1</h3>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("mvd.jpg") %>
      <div class = "description">
        <h3>УМВД России по г. Чебоксары</h3>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("apteka.jpg") %>
      <div class = "description">
        <h3>ГУП Чувашской Республики «Фармация» МЗ ЧР</h3>
      </div>
    </div>
<div class = "client">
  <%= image_tag("agregat.jpg") %>
  <div class = "description">
    <h3>ОАО «Чебоксарский агрегатный завод»</h3>
  </div>
</div>

    <div class = "client">
      <%= image_tag("chgu.jpg") %>
      <div class = "description">
        <h3>Чувашский госуниверситет имени И.Н. Ульянова</h3>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("prez.jpg") %>
      <div class = "description">
        <h3>Министерство юстиции и имущественных отношений Чувашской Республики</h3>
      </div>
    </div>
  </div>
</div>
