<% if is_logged_in? %>
  <%= link_to image_tag("add.svg"), doc_create_url, class: "float1" %>
<% end %>
<% provide(:title, "Документы") %>
<div class="card">
  <div class="blogpost">
    <div class="blog-post_img">
      <%= image_tag("doci.jpg")%>
    </div>
    <div class="blog-post_info">
    <div class="blog-post_title">
      <h1><span class="ec ec-card-file-box"></span> Документы</h1>
    </div>
    <div class ="blog-post_text">
      <div class="blog-post_links">
      <span class="ec ec-newspaper-roll"></span> <a href="<%= documenti_bo_url %>">Бухгалтерская отчетность</a><br><br>
      <span class="ec ec-newspaper-roll"></span> <a href="<%= documenti_n_url %>">Антикоррупция</a><br><br>
      <span class="ec ec-newspaper-roll"></span> <a href="<%= documenti_u_url %>">Учредительные документы</a><br><br>
      <span class="ec ec-newspaper-roll"></span> <a href="<%= documenti_s_url %>">Специальная оценка условий труда</a><br><br>
      </div>
    </div>
  </div>
  </div>
  </div>
