<% provide(:title, "Нормативные документы") %>
<div class="upperdoci">
<div class="doci">
  <h1><span class="ec ec-newspaper-roll"></span> Нормативные документы</h1>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= n1_url %>">Постановление Главного государственного санитарного врача РФ от 26 апреля 2010 г. N 38 «Об утверждении СП 3.1.7.2614-10»</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= n2_url %>">Методические указания МУ 3.5.3.2949-11 «Борьба с грызунами в населенных пунктах, на железнодорожном, водном, воздушном транспорте»</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= n3_url %>">Руководство по медицинской дезинсекции Р 3.5.2.2487-09</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= n4_url %>">Постановление Главного государственного санитарного врача РФ от 7 июня 2017 г. №83
    «Об утверждении санитарно-эпидемиологических правил и нормативов СанПиН 3.5.2.3472-17 «Санитарно-эпидемиологические требования к организации и проведению дезинсекционных мероприятий в борьбе с членистоногими, имеющими эпидемиологическое и санитарно-гигиеническое значение»</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= n5_url %>">Постановление Главного государственного санитарного врача РФ от 7 марта 2008 г. №19
    «Об утверждении санитарно-эпидемиологических правил СП 3.1.3.2352-08»</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= n6_url %>">Постановление Главного государственного санитарного врача РФ от 26 апреля 2010 г. №38 «Об утверждении СП 3.1.7.2614-10»</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= n7_url %>">Постановление Главного государственного санитарного врача РФ от 22 сентября 2014 г. №58 «Об утверждении СП 3.5.3.3223-14 «Санитарно-эпидемиологические требования к организации и проведению дератизационных мероприятий»</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= n8_url %>">Постановление Главного государственного санитарного врача РФ от 9 июня 2003 г. №131 «О введении в действие санитарно-эпидемиологических правил СП 3.5.1378-03»</a><br><br>
</div>
</div>
