<% provide(:title, "Учредительные документы") %>
<div class="doci">
  <h1><span class="ec ec-newspaper-roll"></span> Учредительные документы</h1>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= u1_url %>">Устав предприятия</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= u2_url %>">Приказ Роспотребнадзора о назначении директора ФГУП</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= u3_url %>">Сведения об открытых счетах</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= u4_url %>">Свидетельство о внесении записи в ЕГРЮЛ</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= u5_url %>">Свидетельство о постановке на учет в налоговом органе ЮЛ</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= u6_url %>">Лицензия на осуществление медицинской деятельности</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= u7_url %>">Приложение №1 к лицензии на осуществление медицинской деятельности</a><br><br>
  <span class="ec ec-page-facing-up"></span> 
  <a target="_blank" href="<%= u8_url %>">Санитарно-эпидемиологическое заключение</a><br><br>
</div>
