<% provide(:title, "Наши услуги") %>
<div class="clientsup">
  <div class="clients">
    <div class = "client">
      <%= image_tag("deza.jpg") %>
      <div class = "description">
        <h3>Дезинфекция</h3>
        <p>Обезвреживание и уничтожение колоний опасных микроорганизмов — залог здоровья жильцов и сотрудников предприятий.</p>
        <a class="cta" href="<%= service_d1_url %>">Подробнее</a>
      </div>
    </div>

    <div class = "client">
      <%= image_tag("dezinc.jpg") %>
      <div class = "description">
        <h3>Дезинсекция</h3>
        <p>Клопы, тараканы, блохи, клещи и прочие паразиты не только доставляют серьезный дискомфорт, но и несут большую опасность здоровью.</p>
        <a class="cta" href="<%= service_d2_url %>">Подробнее</a>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("dera.jpg") %>
      <div class = "description">
        <h3>Дератизация</h3>
        <p>Если дома или на предприятии вы обнаружили следы грызунов, стоит сразу же обратиться за помощью к профессионалам.</p>
        <a class="cta" href="<%= service_d3_url %>">Подробнее</a>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("kamera.jpg") %>
      <div class = "description">
        <h3>Камерная обработка</h3>
        <p>Метод уничтожения патогенных микроорганизмов на изделиях, которые невозможно обработать обычным способом. Также, является действенным методом обработки в рамках профилактики коронавируса.</p>
        <a class="cta" href="<%= service_d4_url %>">Подробнее</a>
      </div>
    </div>
    <div class = "client">
      <%= image_tag("dez.jpg") %>
      <div class = "description">
        <h3>Дезсредства</h3>
        <p>Родентициды, инсектициды и дезинфектанты, разрешенные для реализации и предназначенные для использования в быту.</p>
        <a class="cta" href="<%= service_d5_url %>">Подробнее</a>
      </div>
    </div>
  </div>
</div>
