<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= favicon_link_tag 'icon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://unpkg.com/emoji.css/dist/emoji.min.css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <header class="header">
      <a href="<%=root_url%>" class="logo"><%= image_tag("dezprof21.png")%></a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <% if is_logged_in? %>
      <li><a href="<%= orders_url %>">Заказы</a></li>
    <% end %>
    <li><a href="<%= documenti_index_url %>">Документы</a></li>
    <li><a href="<%= service_index_url %>">Услуги</a></li>
    <li><a href="<%= about_url%>">О нас</a></li>
    <li><a href="<%= our_clients_url %>">Наши клиенты</a></li>
    <li><a href="<%= contacts_url %>">Контакты</a></li>
  </ul>
</header>
  </head>
  <body>
    <% if is_logged_in? %>
	<%= link_to (image_tag "exit.svg"), logout_path, method: :delete, class: "float" %>
    <% end %>
    <% if notice %>
      <h2 style="text-align: center; margin-top: 50px; font-family: 'Noah';"><span class="ec ec-bell"></span> <%= notice %> </h2>
    <% end %>
    <%= yield %>
  </body>
</html>
